<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-ES" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>
  <body>
    <div id="header">
      {% include head.html %}
      <script src="{{ site.baseurl }}/assets/js/scripts.js"></script>
    </div>
    {{ content}}   
    <div id="footer">
      {% include footer.html %}
    </div>
  </body>
</html>
