<div>
    <a href="{{ site.baseurl }}/" ><img src="{{ site.baseurl }}/assets/images/logo.png" id="logo"/></a>
    <nav id="menu">
        <div class="barra">
            <input type="checkbox"/>
            <label><i class="fas fa-align-justify" id="menuIco"></i></label>
            <ul>
                <li><a href="{{ site.baseurl }}/">Inicio</a></li>
                <li><a href="{{ site.baseurl }}/Menu">Menu</a></li>
                <li><a href="{{ site.baseurl }}/Reserva">Reserva</a></li>
                <li><a href="{{ site.baseurl }}/LocalContac">Localización y Contacto</a></li>
                <li><a href="{{ site.baseurl }}/Galeria">Galería</a></li>
                <li><a href="{{ site.baseurl }}/About">Sobre nosotros</a></li>
            </ul>
        </div>
    </nav>
</div>